body {
  font-family: "Roboto", sans-serif;
  background-color: #d4e0ee;
  color: #967c7c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* box */
.container {
  width: 900px;
  background-color: #475d66;
  border: 2px solid #d33809;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(223, 132, 71, 0.6);
  padding: 20px;
}

h1 {
  text-align: center;
  color: #000000;
}

.input-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* input text */
input[type="text"] {
  flex: 1;
  padding: 12px;
  border: 1px solid #c77f1a;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
}

button {
  padding: 12px 20px;
  border: 2px solid #c0883a;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* klik buttom, element yang tidak bisa ditentukan oleh atribut atau nama tag saja*/
button:hover {
  background-color: rgb(27, 180, 86);
  color: #a18484;
}
/* list */
ul {
  list-style-type: none;
  padding: 0;
}

/* box event */
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  background-color: #5c5454;
  border: 1px solid #1c4963;
}

li input[type="text"] {
  flex: 1;
  padding: 12px;
  border: 1px solid #c77f1a;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
}

li button {
  padding: 10px 18px;
  border: 2px solid #c77f1a;
  background-color: #f3f3f3;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

li button:hover {
  background-color: #ff0000;
  color: #000;
}
